/* Import statements should be handled in your build process or directly in your HTML file for CSS */
/* Import variables and responsive styles */
@import "../../styles/variables.css";
@import "../../styles/responsive.css";

.home {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(180px, auto);
  grid-auto-flow: dense;
}

/* Media queries for responsive layout */
@media screen and (min-width: 1400px) {
  .home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .home {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .home {
    grid-auto-rows: minmax(120px, auto);
  }
}

.home .box {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #46494d;
  box-sizing: border-box;
  text-overflow: ellipsis; /* Assuming $soft-bg is defined in your variables.scss */
}

.home .box1 {
  grid-column: span 1;
  grid-row: span 3;
}

.home .box4 {
  grid-column: span 1;
  grid-row: span 3;
}

.home .box7 {
  grid-column: span 2;
  grid-row: span 2;
}

/* Hide box7 on medium screens */
@media screen and (max-width: 1023px) {
  .home .box7 {
    display: none;
  }
}
